// https://www.happyhues.co/palettes/14

$background: #fffffe;
$highlight: #ffd803;
$header: #272343;
$text: #2d334a;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

// https://www.happyhues.co/palettes/12

$background-dark: #232946;
$highlight-dark: #eebbc3;
$header-dark: #fffffe;
$text-dark: #b8c1ec;
$secondary-dark: #fffffe;
$tertiary-dark: #eebbc3;

// responsive breakpoints

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;